/* .ant-picker-panel{
    width: 100%;
    height: 100%;
}
.ant-picker-content{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: aqua;
} */


/* .ant-picker-month-panel{
    width: 100%;
    display: flex;
} */