html,


body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    /* font-family: 'font';
    font-family: 'Courier New', Courier, monospace; */
    font-family: 'font';

    color: #06152B;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {
    font-family: 'font';
    src: local('DM Sans'),
      url('../assets/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'regular';
    src: local('DM Sans'),
      url('../assets/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype');
}

